@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

body {
    background-color: rgb(233, 233, 233);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
    color: black;
}

form  {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

button[type="submit"]{
    width: 100%;
    margin-top: 20px;
    background-color: green;
    color: white;
    transition: background-color 0.5s ease;
}
button[type="submit"]:hover,
button[type="submit"]:active {
    background-color: green;
    transform: scale(1.01);
}